
nav{
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    font-size: 1.4vw;
    font-weight: bold;
    text-decoration: none;
    color: wheat;
}

nav img{
    width: 80px;
    height: 70px;
    border-radius: 5px;

}

.text-gsn{
    width: 100%;
}